

@{
    ViewBag.Title = "Confirmation";
}

<h2>@ViewBag.Title.</h2>
<div>
    <p>
        Thank you for reaching out. We'll get back as soon as possible. @Html.ActionLink("Go to front page", "Index", "Home", routeValues: null, htmlAttributes: new { })
    </p>
</div>